@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1; /* Pushes the footer down */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #FFEEE2;
}

.content-container {
  width: 100% !important;
  margin: 0 auto; 
  text-align: center;
}

header {
  background-color: #e7bfa3;
  width: 100% !important; 
  height: 20vh;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Quicksand', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo img {
  max-height: 50px; 
  width: auto;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tab-links {
  display: flex;
  position: relative;
  top: 7.5px;
  justify-content: center;
  gap: 50px;
}

.tab-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.tab-links a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.main-title {
  font-size: 5rem;
  margin-top: 20px;
  position: relative;
  top: 30px;
}

#home-title {
  font-size: 7rem;
}

.desc {
  font-size: 1.2rem;
  margin-top: 20px;
  position: relative;
  top: 50px;
  font-weight: 500;
}

footer {
  background-color: #e7bfa3;
  width: 100%;
  height: 180px;
  font-size: 1.3rem;
  margin: 50px 0 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
}


.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-icons a {
  background-color: #FFEEE2;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0;
  border: none;
  background: none;
  font-size: 1.3rem;
}

.social-icons a:hover {
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
  border: none;
  background: none;
}

.copyright {
  display: flex;
  position: relative;
  top: 10px;
}

.map {
  position: relative;
  top: 50px;
  border-radius: 5%;
}

.credit {
  font-size: 0.8rem;
  position: relative;
  top: 10px;
}

.form {
  position: relative;
  top: 50px;
}

.linktree {
  color: #53a368;
  text-decoration: none;
  transition: color 0.3s ease;
}

.linktree:hover {
  color: #53a368b0;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.form-desc {
  font-size: 1.3rem;
  position: relative;
  font-weight: 500;
}

.email-link {
  display: inline-flex;
  align-items: center;
  margin-left: 5px; 
  text-decoration: none;
  color: rgb(54, 141, 212);
  font-size: 1.2rem;
  top: 50px;
}

.email-link i {
  margin-left: 3px; 
  font-size: 1.2rem; 
  vertical-align: middle;
  transition: color 0.3s ease;

}

.email-link:hover {
  color: rgba(54, 141, 212, 0.7);
}

.product-image {
  border-radius: 2%;
}

.product {
  margin-top: 80px;
}

.product-name {
  font-size: 40px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.purchase-button {
  margin-top: auto;
  padding: 10px 15px;
}

.home-image{
  width: 1000px;
  height: 700px;
  position: relative;
  top: 100px
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ye {
  color: #EE7D00;
  text-decoration: none;
  transition: color 0.3s ease;
}

.ye:hover {
  color: #EE7D00b0;
  transition: color 0.3s ease;
}

.location {
  font-size: 100px;
  position: relative;
  top: 50px;
}

.story{
  width: 55%;
  margin: 0 auto;
}

.location {
  margin: 25px;
}

.custom-orders {
  width: 55%;
  margin: 0 auto;
}

.custom-link {
  transition: color 0.3s ease;
}

#school {
  font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
  .tab-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top:0;
    font-size: 1.3rem;
  }
  
  header{
    height: 250px;
  }
  
  /* footer {
    height: 100vh;
  } */

  .email, .copyright {
    font-size: 1rem;
  }

  .map {
    width: 300px;
    height: 250px;
  }

  .main-title {
    font-size: 4rem
  }

  #home-title {
    font-size: 5rem;
  }

  .credit {
    font-size: 0.7rem;
  }

  .linktree {
    text-decoration: underline;
  }

  .form {
    width: 300px;
  }

  .product-image {
    width: 300px;
    height: 200px;
  }

  .product-name {
    font-size: 20px;
  }

  .home-image{
    width: 350px;
    height: 225px;
    position: relative;
    top: 100px
  }

  .product {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 375px) {
  .tab-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top:0;
    font-size: 1rem;
  }

  header{
    height: 250px;
  }

  .main-title {
    font-size: 3rem
  }

  #home-title {
    font-size: 4rem;
  }

  .map {
    width: 250px;
    height: 220px;
  }

  .email, .copyright {
    font-size: 1rem;
  }

  .tab-links {
    font-size: 1.3rem
  }
  
  .social-icons a {
    font-size: 1rem;
  }

  .credit {
    font-size: 0.65rem;
  }

  .linktree {
    text-decoration: underline;
  }
}


@media screen and (max-height: 900px) and (min-width: 700px) {
  header { 
    height: 180px;
  }

  footer {
    height: 180px;
  }
}

@media screen and (max-width: 768px) and (min-width: 700px) {
  header { 
    height: 250px;
  }

  footer {
    height: 180px;
  }
}


